@charset "UTF-8";
@font-face {
  font-family: "Ubuntu-Bold";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Ubuntu-Bold") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
}
html {
  box-sizing: border-box;
  min-width: 52px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.body-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container {
  padding: 0 40px;
}

.preheader {
  background-color: #f1f1f1;
  min-height: 52px;
  display: flex;
  justify-content: flex-end;
}
.preheader__inner {
  color: #939393;
  font-family: "Ubuntu-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  z-index: 1000;
}
.header__inner {
  display: flex;
  min-height: 120px;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
}
.header__menu {
  font-family: "Ubuntu-Medium";
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-decoration: none;
  width: 250px;
  height: 400px;
  border: 2px solid #007ffe;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 2;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-left: 20px;
  gap: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  transform: translateY(-100%);
}
.header .header__menu--open {
  transform: translateY(0%);
  transition: 0.3s;
}
.header .header__menu.show-menu {
  /* Стилі для відображення меню */
  max-height: 500px; /* Або інша висота за вашим вибором */
}
.header .header__menu.slide-in {
  /* Анімація при виїзджанні меню */
  animation: slideIn 0.3s ease-in-out;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.header .modal-window {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(0.9);
  width: 520px;
  max-width: 95%;
  min-height: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.18s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.header .modal-window.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.header .modal-window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
  min-height: inherit;
}
.header .modal-window__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.header .hidden {
  display: none;
}
.header__menu a {
  max-height: 24px;
  color: #191919;
}
.header__btn {
  width: 90px;
  height: 44px;
  border-radius: 4px;
  background-color: #0666f6;
  border: none;
  color: #fff;
  font-family: "Ubuntu-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-align: center;
  padding-top: 7px;
}
.header__line {
  height: 2px;
  background-color: #0666f6;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal h3 {
  margin-bottom: 10px;
}
.modal input {
  margin-bottom: 10px;
  height: 30px;
}
.modal button {
  height: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 2;
  position: fixed;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-modal {
  padding: 7px 10px;
  border: 1px solid #bbb;
  color: #222;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.close-modal:hover {
  background-color: #007ffe;
  color: #fff;
  box-shadow: -20px 50px 50px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px 20px;
}

#button {
  display: inline-block;
  background-color: #0666f6;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "🔼";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */
@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}
.topslider {
  background-image: url(../images/top-slider.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 550px;
  overflow: hidden;
  background-attachment: fixed;
}
bac .topslider__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.topslider__item {
  color: #191919;
  text-align: center;
  display: flex;
  justify-content: center;
}
.topslider__maintext {
  padding-top: 80px;
  font-family: "Ubuntu-Bold";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  max-width: 385px;
}
.topslider__text {
  font-family: "Ubuntu-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 285px;
  padding-top: 10px;
}
.topslider__img {
  height: 60px;
  width: 60px;
  margin-top: 30px;
}

.about {
  min-height: 300px;
  overflow: hidden;
}
.about__inner {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.about__img img {
  height: 100%;
  width: auto;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
  margin: 0 auto;
}
.about__article {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 40px 0 30px 40px;
  overflow: hidden;
  flex: 2;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
  height: 100%;
}
.about__title {
  color: #0666f6;
  font-family: "Ubuntu-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-transform: uppercase;
}
.about__maintext {
  font-family: "Ubuntu-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  flex-shrink: 0;
}
.about__text {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.about__readnow {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.about__rn a {
  color: #0666f6;
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.08px;
}
.about__lineimg {
  padding-left: 8px;
}
.about__line {
  width: 110px;
  height: 2px;
  background-color: #0666f6;
}

.rating {
  max-height: 143px;
  padding: 30px 0;
}
.rating__inner {
  display: grid;
  justify-items: center;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
  padding: 10px 0;
}

.rating__first,
.rating__second,
.rating__third {
  font-family: "Ubuntu-Bold";
  font-size: 42px;
  font-style: italic;
  font-weight: 700;
  line-height: 52px;
}

.comm__first,
.comm__second,
.comm__third {
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.rating__first {
  height: 52px;
  grid-row: 1;
}

.comm__first {
  grid-row: 2;
}

.rating__second {
  height: 52px;
  grid-row: 1;
}

.comm__second {
  grid-row: 2;
}

.rating__third {
  height: 52px;
  grid-row: 1;
}

.comm__third {
  grid-row: 2;
}

.services__inner,
.pricing__inner,
.team__inner,
.testimonal__inner,
.updated__inner {
  padding: 30px;
  display: grid;
  justify-items: center;
  justify-content: center;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
  margin-top: 20px;
}
.services__title,
.pricing__title,
.team__title,
.testimonal__title,
.updated__title {
  color: #0666f6;
  text-align: center;
  font-family: "Ubuntu-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.services__maintext,
.pricing__maintext,
.team__maintext,
.testimonal__maintext,
.updated__maintext {
  color: #191919;
  text-align: center;
  font-family: "Ubuntu-Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  padding-bottom: 1px;
}
.services__text,
.pricing__text,
.team__text,
.testimonal__text,
.updated__text {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.pricetable__inner {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.pricetable__item {
  min-width: 25%;
  padding: 30px 15px;
  border: 1px solid #393939;
  border-radius: 8px;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.pricetable__item__divider {
  height: 1px;
  background-color: #8d8d8d;
}
.pricetable__item__plan {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  gap: 5px;
}
.pricetable__item__plan__name {
  font-family: "Ubuntu-Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-self: flex-end;
}
.pricetable__item__info {
  font-family: "Ubuntu-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.07px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-top: 10px;
}
.pricetable__item__info__text {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.getstarted {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getstarted__button {
  border-radius: 10px;
  background-color: #0666f6;
  width: 152px;
  padding: 10px 30px;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  text-align: center;
  color: #fff;
  font-family: "Ubuntu-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
  text-transform: uppercase;
}

.serviceitems {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.serviceitems__inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px;
  margin-top: 15px;
  min-height: 151px;
  justify-content: space-evenly;
  gap: 20px;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
}
.serviceitems_item {
  display: flex;
  flex: 1;
}

.service__logo1 img, .service__logo2 img, .service__logo3 img {
  height: 50px;
  width: 50px;
}
.service__title1, .service__title2, .service__title3 {
  padding-top: 20px;
  font-family: "Ubuntu-Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.service__text1, .service__text2, .service__text3 {
  padding-top: 5px;
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.servicearticle {
  min-height: 300px;
}
.servicearticle__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}
.servicearticle_img {
  width: -moz-fit-content;
  width: fit-content;
}
.servicearticle__img img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
}
.servicearticle__article {
  display: grid;
  align-content: center;
  padding: 40px 0 53px 18px;
  flex: 1.5;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
}
.servicearticle__img {
  flex: 1;
}
.servicearticle__title {
  color: #0666f6;
  font-family: "Ubuntu-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-transform: uppercase;
}
.servicearticle__maintext {
  font-family: "Ubuntu-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  flex-shrink: 0;
}
.servicearticle__text {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.servicearticle__readnow {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.servicearticle__rn a {
  color: #0666f6;
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.08px;
}
.servicearticle__lineimg {
  padding-left: 8px;
}
.servicearticle__line {
  width: 110px;
  height: 2px;
  background-color: #0666f6;
}

.pricelist {
  margin-top: 20px;
}
.pricelist__inner {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
}
.pricelist__first {
  display: flex;
  flex-direction: column-reverse;
  min-height: 144px;
  justify-content: flex-start;
  gap: 24px;
}
.pricelist__second {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 40px;
  min-height: 144px;
  justify-content: flex-start;
  gap: 24px;
}
.pricelist__features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricelist__description {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.pricelist__title {
  font-family: "Ubuntu-Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.pricelist__logo img {
  width: 60px;
  height: 60px;
}
.pricelist__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricelist__list img {
  width: 16px;
  height: 16px;
}
.pricelist__list {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.pricelist__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.pricelist__check {
  display: flex;
  align-items: center;
}
.pricelist__line {
  width: 123px;
  height: 2px;
  background-color: #0666f6;
}
.pricelist__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: flex-end;
  float: right;
}
.pricelist__pricenum {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.pricelist__line {
  background-color: #000;
  height: 4px;
  width: 90px;
  position: absolute;
  margin-bottom: 18px;
}
.pricelist__explorenow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pricelist__en a {
  color: #0666f6;
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.08px;
  padding-right: 8px;
}
.pricelist__firstnum,
.pricelist .pricetable__item__plan__price {
  font-family: "Ubuntu-Medium";
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.pricelist__secnum {
  color: #939393;
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.saleline {
  border-bottom: 3px solid #0666f6;
  width: 90px;
}

.spacer {
  min-height: 30px;
  background-color: #fff;
}

.quote {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 259px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.quote__inner {
  padding: 50px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 159px;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
  gap: 20px;
}
.quote__article {
  max-width: 313px;
}
.quote__title {
  color: #0666f6;
  font-family: "Ubuntu-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-transform: uppercase;
}
.quote__maintext {
  color: #191919;
  font-family: "Ubuntu-Bold";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.quote__text {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.quote__button {
  display: flex;
  align-items: center;
}
.quote__btn {
  height: 52px;
  width: 207px;
  background-color: #0666f6;
  border: none;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-family: "Ubuntu-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-transform: uppercase;
}

.teampics {
  min-height: 75%;
}
.teampics__inner {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}
.teampics__item {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  justify-content: flex-start;
  height: inherit;
}
.teampics__pic1 img, .teampics__pic2 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.teampics__textblock1, .teampics__textblock2 {
  padding: 15px 0px 15px 20px;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 0 0 20px 20px;
}
.teampics__maintext {
  color: #191919;
  font-family: "Ubuntu-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.teampics__text {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.comment {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment__inner {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
  padding: 20px;
}
.comment__pic img {
  width: 40px;
  height: 24px;
}
.comment__text {
  margin-top: 5px;
  color: #191919;
  font-family: "Ubuntu-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.comment__account {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.comment__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.comment__avatar img {
  width: 50px;
  height: 50px;
}
.comment__accountname {
  color: #191919;
  font-family: "Ubuntu-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.comment__facebook {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.costsarticle {
  min-height: 300px;
}
.costsarticle__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
}
.costsarticle__img img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 4px;
  border-radius: 20px;
}
.costsarticle__article {
  display: grid;
  align-content: center;
  padding: 40px 0 53px 20px;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
}
.costsarticle__title {
  color: #0666f6;
  font-family: "Ubuntu-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-transform: uppercase;
}
.costsarticle__maintext {
  font-family: "Ubuntu-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  flex-shrink: 0;
}
.costsarticle__text {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.costsarticle__readnow {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.costsarticle__rn a {
  color: #0666f6;
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.08px;
}
.costsarticle__lineimg {
  padding-left: 8px;
}
.costsarticle__line {
  width: 115px;
  height: 2px;
  background-color: #0666f6;
}

.socials {
  padding: 50px 0;
  min-height: 153px;
}
.socials__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials__webflow img, .socials__facebook img, .socials__youtube img {
  width: 100%;
  height: auto;
}
.socials__webflow {
  margin-right: 30px;
}
.socials__youtube {
  margin-left: 30px;
}

.news {
  padding: 30px 0;
}
.news__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 18px;
}
.news__text {
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 0 0 20px 20px;
  padding: 20px;
}
.news__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news__img img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}
.news__date {
  color: #0666f6;
  font-family: "Ubuntu-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.07px;
  padding-top: 15px;
}
.news__article {
  font-family: "Ubuntu-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding-top: 10px;
}
.news__item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.appsarticle {
  min-height: 300px;
}
.appsarticle__inner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 25px;
}
.appsarticle__img img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  flex: 1;
}
.appsarticle__article {
  padding: 20px;
  display: grid;
  align-content: center;
  padding: 40px 0 53px 18px;
  flex: 1;
  background-color: rgba(244, 244, 246, 0.21);
  border-radius: 20px;
}
.appsarticle__title {
  color: #0666f6;
  font-family: "Ubuntu-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-transform: uppercase;
}
.appsarticle__maintext {
  font-family: "Ubuntu-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  flex-shrink: 0;
}
.appsarticle__text {
  color: #595959;
  font-family: "Ubuntu-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.appsarticle__readnow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15px;
}
.appsarticle__rn a {
  color: #0666f6;
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.08px;
}
.appsarticle__lineimg {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
}
.appsarticle__line {
  width: 145px;
  height: 2px;
  background-color: #0666f6;
}
.appsarticle__textimg {
  display: flex;
  flex-direction: row;
}

.footer {
  padding: 40px 0;
  background-color: #191919;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 30%;
}
.footer__logo {
  display: flex;
}
.footer__logo img {
  width: 110px;
  height: 31px;
  padding: 0 auto;
}
.footer__maintext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  padding-top: 10px;
}
.footer__socials img {
  width: 30px;
  height: 30px;
}
.footer__contactinfo, .footer__morelinks {
  color: #fff;
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.footer__address, .footer__contactaddress, .footer__links, .footer__rights {
  color: #fff;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer__logo, .footer__contactinfo, .footer__morelinks {
  margin-bottom: 20px;
}
.footer__rights {
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__subscribe {
  display: flex;
}

.divider {
  display: flex;
  align-self: center;
  margin-top: 30px;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.sale_grid h3 {
  font-family: "Ubuntu-Medium";
  font-weight: 500;
}
.sale_grid p {
  font-family: "Ubuntu-Regular";
  font-weight: 400;
}
.sale_grid_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-around;
  padding: 30px 25px;
}
.sale_grid_item {
  background-color: #0666f6;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 20px;
  width: 250px;
  padding: 5px;
  align-items: center;
  color: #fff;
}
.sale_grid_item img {
  height: 60px;
  width: 75px;
  padding-left: 15px;
}
.sale_grid_item_info {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-right: 15px;
}
.sale_grid_item_num {
  position: absolute;
  background-color: #191919;
  border-radius: 20px;
  padding: 5px 11px;
  color: #fff;
  margin-bottom: 60px;
  margin-left: 10px;
}

.sale_button {
  background-color: #0666f6;
  padding: 10px 30px;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.sale_button_inner a {
  font-family: "Ubuntu-Regular";
  color: #fff;
}

@media (max-width: 470px) {
  .services__text {
    margin: 0;
  }
  .about__img img {
    display: none;
  }
  .about__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
  }
}
@media (min-width: 570px) {
  .pricelist__logo {
    display: none;
  }
  .header__menu,
  .header__btn {
    position: static;
    display: block;
  }
  .header__menu {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 38px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    border: none;
  }
  .burger__menu {
    display: none;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__img {
    display: flex;
    align-items: center;
  }
  .about__img img {
    width: 20rem;
  }
  .serviceitems__inner {
    flex-direction: column;
  }
  .quote__inner {
    flex-direction: column;
  }
  .quote__button {
    padding-top: 20px;
  }
  .quote__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 440px) {
  .container {
    padding: 0 30px;
  }
  .header__logo {
    justify-content: space-evenly;
  }
  .top__slider__img {
    display: none;
  }
  .about__inner {
    padding: 30px 0;
  }
  .servicearticle__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .servicearticle__img {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  .servicearticle__img img {
    padding-left: 0;
    width: 100%;
  }
  .servicearticle__article {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    align-items: center;
    flex: 1.5;
  }
  .costsarticle__inner {
    flex-direction: column;
  }
  .costsarticle__article {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }
  .quote__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quote__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .quote__button {
    padding-top: 20px;
  }
  .appsarticle__inner {
    flex-direction: column;
  }
  .appsarticle__article {
    padding: 40px 0;
    align-items: center;
    text-align: center;
  }
  .appsarticle__readnow {
    margin: 0 auto;
  }
  .appsarticle__line {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__maintext {
    flex-direction: column;
    text-align: center;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 10px;
    align-items: center;
  }
  .footer__logo img {
    align-self: center;
  }
  .footer__logo,
  .footer__contactinfo,
  .footer__morelinks {
    margin: 0;
  }
  .spacer {
    display: none;
  }
  .costsarticle__img img {
    padding: 0;
  }
}
@media (max-width: 410px) {
  .pricelist__check {
    display: none;
  }
  .container {
    padding: 0 15px;
  }
  .top__slider__text {
    display: none;
  }
}
@media (min-width: 500px) {
  .container {
    padding: 0 25px;
  }
  .pricelist__first,
  .pricelist__second {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 700px) {
  .about__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
  }
  .about__img {
    height: auto;
    width: auto;
    display: flex;
    flex: 1;
  }
  .about__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .pre_header_inner {
    font-size: 16px;
  }
  .header__menu {
    font-size: 18px;
  }
  .header__btn {
    width: 120px;
  }
}
@media (min-width: 850px) {
  .container {
    padding: 0 60px;
  }
  .pre_header_inner {
    font-size: 20px;
  }
  .header__menu {
    font-size: 22px;
  }
  .header__btn {
    width: 150px;
  }
}
@media (min-width: 1020px) {
  .container {
    padding: 0 100px;
  }
  .sale_grid_inner {
    padding: 40px 150px;
  }
}
@media (min-width: 1400px) {
  .container {
    padding: 0 320px;
  }

}/*# sourceMappingURL=style.css.map */